<div id ="about">

  <div class="about-content">
    <h1>
      This template is built with
      <i class="fa fa-heart"></i>
       by
    </h1>

    <ul class="list-inline">
      <li>
        <img src="https://kitt.lewagon.com/placeholder/users/faninos" class=img-circle alt="faninos">
        <h2>Stephan De Grove</h2>
        <p>
          <a href="https://github.com/faninos">
            <i class="fa fa-github"></i>
             faninos
          </a>
        </p>
      </li>
      <li>
        <img src="https://kitt.lewagon.com/placeholder/users/LynnVanderhallen" class=img-circle alt="LynnVanderhallen">
        <h2>Lynn Vanderhallen</h2>
        <p>
          <a href="https://github.com/LynnVanderhallen">
            <i class="fa fa-github"></i>
             LynnVanderhallen
          </a>
        </p>
      </li>
    </ul>
  </div>
</div>




